@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin "tailwindcss-animate";

@theme {
  --spacing-header: 4.5rem;
  --spacing-navigation: 3.75rem;
  --spacing-with-navigation: calc(100dvh - var(--spacing-navigation));
  --spacing-without-navigation: 100dvh;
  /* 최대 모바일 화면 (600px, 37.5rem) */
  --spacing-mobile: 37.5rem;
  --spacing-floating-button: calc(var(--spacing-mobile) - 2.5rem);
  --spacing-with-floating-button: 7.5rem;

  --radius-5xl: 2.5rem;

  --color-gold-500: #f2dc1d;
  --color-silver-500: #cccccc;
  --color-bronze-500: #935600;
  --color-blue-900: #005cb2;
  --color-blue-500: #7187de;
  --color-blue-100: #add7ff;
  --color-green-900: #21c904;
  --color-green-500: #73d482;
  --color-green-100: #d6ffd0;
  --color-red-900: #d20101;
  --color-red-700: #ff4545;
  --color-red-500: #ff8080;
  --color-red-300: #ffbaba;
  --color-red-100: #ffdbdb;
  --color-gray-900: #222222;
  --color-gray-700: #353535;
  --color-gray-500: #808080;
  --color-gray-300: #a8a8a8;
  --color-gray-100: #e9e9e9;
  --color-main-900: #f3bf30;
  --color-main-700: #ffdb79;
  --color-main-500: #ffe9aa;
  --color-main-300: #fff2cd;
  --color-main-100: #fffaee;
  --color-kakao: #fee500;

  --shadow-layout: 0 0 4px rgba(0, 0, 0, 0.25);

  --aspect-thumbnail: 4 / 5;
}

@layer base {
  body {
    @apply max-w-mobile mx-auto text-gray-900;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  button {
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  input,
  textarea {
    outline: none;

    &::placeholder {
      color: var(--color-gray-500);
    }
  }
}

@layer utilities {
  .typo-bold {
    font-size: 2rem;
    font-weight: 700;
  }
  .typo-semibold {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .typo-medium {
    font-size: 1rem;
    font-weight: 500;
  }
  .typo-regular {
    font-size: 0.75rem;
    font-weight: 400;
  }
  .typo-label {
    font-size: 0.5rem;
    font-weight: 500;
  }
  .typo-light {
    font-size: 0.5rem;
    font-weight: 400;
  }

  .shadow-floating-action-button {
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.3)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.13));
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
